.App {
  text-align: center;
}

.component-a {
  margin: 50px;
  padding: 20px;
  background-color: #f94;
  border: 1px solid #404040;
}

.component-b {
  margin: 50px;
  padding: 20px;
  background-color: #8f9;
  border: 1px solid #404040;
}

.component-c {
  margin: 50px;
  padding: 20px;
  background-color: #89f;
  border: 1px solid #404040;
}

.component-d {
  margin: 50px;
  padding: 20px;
  background-color: #c9f;
  border: 1px solid #404040;
}

.component-e {
  margin: 50px;
  padding: 20px;
  background-color: #fcc;
  border: 1px solid #404040;
}

.component-f {
  margin: 50px;
  padding: 20px;
  background-color: #ccc;
  border: 1px solid #404040;
}
