.App {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.8rem;
}

h2 {
  margin: 0;
  font-size: 1.4rem;
}

button {
  margin-right: 2px;
  margin-left: 2px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background-color: #46e;
  border: 1px solid #24d;
}

.name-controls {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.name-controls input {
  display: block;
  margin-right: 5px;
  font-size: 1.3rem;
}

.name-controls button {
  display: block;
}

.component {
  margin: 20px;
  padding: 15px;
  border: 1px solid #404040;
}

.component--a {
  background-color: #f94;
}

.component--b {
  background-color: #8f9;
}

.component--c {
  background-color: #89f;
}

.component--d {
  background-color: #c9f;
}

.component--e {
  background-color: #fcc;
}

.component--f {
  background-color: #ccc;
}

.counter-controls {
  display: flex;
  margin: 5px 0;
  justify-content: center;
}
